body {
  background-color: #000717;
  text-align: center;
}

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 400;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 4% 15%;
}


/* Logo Section */

.logo-section {
  margin: 5% 0;
}

.am-logo {
  width: 100%;
}

/* Footer Section */


.social-icon {
  color: #fff;
  margin: 20px 10px;
}

/* Viewport */
@media (max-width: 991px) {
  body {
    padding: 0;
  }

  #top-container {
    width: 1200px;
  }

  .container-fluid {
    padding: 4% 0 0 1%;
  }

  body .nav-item {
    font-size: 4.5rem;
    text-align: left;
  }

  .nav-link {
    font-size: 2rem;
  }

  .navbar-toggler-icon {
  width: 2rem;
  }



  .am-logo {
    width: auto;
  }

}
